h1>a {
    text-decoration: none;
    color: black;
}

#atag {
    text-decoration: none;
    color: gray;
    margin-right: 10px;
}
table, td {
    border-collapse: collapse;

}
#logo{
	width: 120px;
	height: 90px;
}
hr {
	width: 80%;
	margin: 0px auto;
}
.header-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    align-items: center; /* 세로 가운데 정렬을 위해 추가 */
}

.header-container div {
    display: flex;
    align-items: center; /* 세로 가운데 정렬을 위해 추가 */
}

.header-container input[type="text"] {
    margin-right: 10px; /* 입력창과 버튼 사이 간격을 주기 위해 추가 */
}

