<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/menu.css}" />
</head>
<body>
    <div class="header-container">
        <div>
            <a th:href="@{/main}"><img id="logo" th:src="@{/img/logo.png}"></a>
        </div>
        <div>
			<input type="text" id="oneday_name" placeholder="클래스 찾기">
            <input type="button" value="검색" onclick="search()">
		</div>
        <div>
			<div class="dropdown" sec:authorize="isAuthenticated()">
			  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
			    [[${#authentication.getPrincipal().getUsername()}]]님
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			    <li><a class="dropdown-item" th:href="@{/question/list}">문의글</a></li>
			    <li><a class="dropdown-item" href="#">Another action</a></li>
			    <li><a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
			  </ul>
			</div>
            <a id="atag" sec:authorize="isAnonymous()" th:href="@{/auth/login}">로그인</a>
            <a id="atag" sec:authorize="isAnonymous()" th:href="@{/auth/join}">회원가입</a>
        </div>
    </div>
    <hr/>
    <!-- th:object="${userCreateForm}": userCreateForm 객체를 만들어서 꺼내줌 -->
    <form th:action="@{/auth/join}" th:object="${userCreateForm}" method="post">
        <!-- 필드에 에러가 있으면 -->
        <div th:if="${#fields.hasAnyErrors()}" align="center">
            <!-- 필드의 모든 에러를 하나씩 꺼내서 err에 넣어줌 -->
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <h1 align="center">회원가입</h1>
        <table align="center">
            <tr>
                <td>이름</td>
                <!-- th:field에 있는 것은 th:object에 선언된 객체의 필드명 -->
                <td><input type="text" th:field="*{nickname}"></td>
            </tr>
            <tr>
                <td>아이디</td>
                <td><input type="text" th:field="*{username}"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" th:field="*{password1}"></td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td><input type="password" th:field="*{password2}"></td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <input type="radio" th:field="*{gender}" th:value="남" />남성
                    <input type="radio" th:field="*{gender}" th:value="여" />여성
                </td>
            </tr>
            <tr>
                <td>생년</td>
                <td><input type="text" th:field="*{year}" placeholder="ex. 1990"></td>
            </tr>
            <tr>
                <td>핸드폰 번호</td>
                <td><input type="text" th:field="*{phoneNm}" placeholder="ex. 01012345678"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" th:field="*{email}" placeholder="ex. abc@naver.com"></td>
            </tr>
        </table>
        <div align="center">
            <input type="radio" th:field="*{role}" th:value="관리자" />관리자
            <input type="radio" th:field="*{role}" th:value="회원" />회원 <br>
            <button type="submit" class="btn btn-outline-dark">회원가입</button>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>