<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>원데이 클래스</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
</head>
<body>
    <div class="header-container">
        <div>
            <a th:href="@{/main}"><img id="logo" th:src="@{/img/logo.png}"></a>
        </div>
        <div>
			<input type="text" id="oneday_name" placeholder="클래스 찾기">
            <input type="button" value="검색" onclick="search()">
		</div>
        <div>
            <a id="atag" sec:authorize="isAnonymous()" th:href="@{/auth/login}">로그인</a>
            <label sec:authorize="isAuthenticated()">[[${#authentication.getPrincipal().getUsername()}]]님</label>
            <a id="atag" sec:authorize="isAuthenticated()" th:href="@{/logout}">logout</a>
            <a id="atag" sec:authorize="isAnonymous()" th:href="@{/auth/join}">회원가입</a>
        </div>
    </div>
    <hr/>
    <div align="center">
        <h2>카테고리</h2>
        <button onclick="baking()">베이킹</button>
        <button onclick="perfume()">향수</button>
        <button onclick="drawing()">드로잉</button>
        <button onclick="dance()">댄스</button>
        <button onclick="date()">데이트</button>
    </div>
    <br>

    <table align="center">
        <tr>
            <td>
                <img th:src="@{/img/그림1.png}" alt="베이킹" width="250px" height="250px" />
                <p>쿠킹</p>
                <b>[성북구] 쿠킹 스튜디오</b>
                <p>홈 베이킹 쿠키 만들기 원데이 클래스</p>
                <button align="right">예약하기</button>
            </td>
            <td>
                <img th:src="@{/img/그림2.png}" alt="드로잉" width="250px" height="250px" />
                <p>드로잉</p>
                <b>[광진구] 드로잉 스튜디오</b>
                <p>꾸덕꾸덕 오일 파스텔 원데이 클래스</p>
                <button align="right">예약하기</button>
            </td>
            <td>
                <img th:src="@{/img/그림3.jpg}" alt="향수" width="250px" height="250px" />
                <p>향수</p>
                <b>[성동구] 향수 스튜디오</b>
                <p>나만의 향기 만들기 원데이 클래스</p>
                <button align="right">예약하기</button>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/js/category.js"></script>
</body>
</html>
